/* ========================== */
/* Auth UI edits */
/* ========================== */

.auth-container{
  background-image: url(./assets/Images/authbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.from-container{
background-color: rgba(49, 89, 81, 0.9);
}

.auth-btn{
  background-color: rgba(239, 155, 40, 1) !important;
}

.line{
  display: flex;
    width: 17px;
    background-color: rgba(239, 155, 40, 1);
    height: 3px;
}

.placeholder-custom::placeholder {
  color: white !important; 
  opacity: 0.7 !important; 
}